#container {
height: 3%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#leftThing {
width: 25%;
background-color: whitesmoke;
}
#content {
width: 50%;
background-color: whitesmoke;
}
#rightThing {
width: 25%;
background-color: whitesmoke;
}